@page
@model CliCarProject.Pages.Admin.IndexModel

@{
    ViewData["Title"] = "Painel de Controlo - Admin";
}

<h1>Painel de Controlo</h1>
<p>Somente utilizadores com a role <strong>Admin</strong> têm acesso a esta página.</p>