@model CliCarProject.Models.Classes.Anuncio

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Anuncio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAnuncio" />
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCriacao" class="control-label"></label>
                <input asp-for="DataCriacao" class="form-control" />
                <span asp-validation-for="DataCriacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataAtualizacao" class="control-label"></label>
                <input asp-for="DataAtualizacao" class="form-control" />
                <span asp-validation-for="DataAtualizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeiculo" class="control-label"></label>
                <select asp-for="IdVeiculo" class="form-control" asp-items="ViewBag.IdVeiculo"></select>
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVendedor" class="control-label"></label>
                <input asp-for="IdVendedor" class="form-control" />
                <span asp-validation-for="IdVendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdLocalizacao" class="control-label"></label>
                <select asp-for="IdLocalizacao" class="form-control" asp-items="ViewBag.IdLocalizacao"></select>
                <span asp-validation-for="IdLocalizacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

